<header class="flex items-center justify-between p-4">
    <!-- Logo / Título -->
    <h1 class="text-6xl font-bold italic " style="font-family: 'Playball', cursive;">
        Novelist
    </h1>

    <!-- Botones -->
    <nav class="flex gap-4">

        <!-- Botón de ayuda -->
        <button	class="flex items-center justify-center h-16 w-16 rounded-full text-3xl active:scale-95 transition">
                <i class="fa-solid fa-circle-question"></i>
        </button>

        <!-- Botón de menu -->
        <button	class="flex items-center justify-center h-16 w-16 rounded-full text-3xl active:scale-95 transition">
            <i class="fa-solid fa-bars"></i>
        </button>

        <!-- Botón de tema -->
        <button	id="themeToggle" class="flex items-center justify-center h-16 w-16 rounded-full text-3xl active:scale-95 transition">
            <i id="themeIcon" class="fa-solid fa-circle-half-stroke"></i>
        </button>
    </nav>
</header>